<div class="home">
    <section class="text-secondary body-font">
        <div class="container mx-auto flex px-5 lg:pt-5 items-center justify-center flex-col">
            <img class="mx-auto h-80 md:h-96 object-cover object-center rounded-lg" src="/resume_sticker.gif">
            <div class="text-center lg:w-2/3 w-full">
                <h1 class="title-font text-xl md:text-4xl mb-4 text-primary">
                    Ready for the Job Hunt? <br> Scan Your Resume
                    and Get Instant Insights</h1>
                <p class="mb-8 mx-auto text-xs md:text-base lg:w-2/3 w-full leading-relaxed">
                    Let AI do the heavy lifting. Upload your resume for a fast, AI-driven
                    analysis of keyword usage, formatting, and more to help you rise above the competition.</p>
                <div class="flex justify-center">
                    <button
                        class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                        routerLink="/upload">
                        Upload Resume
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>