<header class="body-font">
    <div class="container mx-auto text-primary font-extrabold text-xl flex p-5 flex-row items-center">
        <a class="flex title-font items-center m-2 md:mb-0" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-10 h-10 p-2 text-primary bg-background_accent rounded-full">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 0 1 9 9v.375M10.125 2.25A3.375 3.375 0 0 1 13.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 0 1 3.375 3.375M9 15l2.25 2.25L15 12" />
            </svg>

            <span class="ml-2 text-xl">ResScan</span>
        </a>
        <nav class="ml-auto flex flex-wrap items-center justify-center">
            <a class="lg:mr-5 text-sm md:text-xl">Resources</a>
        </nav>
        <button class="mode m-3" (click)="toggleTheme()"></button>
    </div>
</header>