<!-- LOADING BARS -->
<div *ngIf="loadingBars" class="container">
    <div class="loading-wave">
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
    </div>
</div>

<!-- SPINNING SQUARES -->
<div *ngIf="spinningSquares" class="spinner-box">
    <div class="configure-border-1">
        <div class="configure-core"></div>
    </div>
    <div class="configure-border-2">
        <div class="configure-core"></div>
    </div>
</div>